.makeStyles-root-5{
    z-index: 1000;
    position: absolute;
    background-color: #999999;
    margin-left: 33%;
}

.bgSearchBar{
    background-color: #eee;
    opacity: 0.4;
    border-radius:20px;
}