.makeStyles-root-5{
    z-index: 1000;
    position: absolute;
    background-color: #999999;
    margin-left: 33%;
}

.bgSearchBar{
    background-color: #eee;
    opacity: 0.8;
    border-radius:20px;
}

#autocomplete-input{
    font-weight: bold;
}
.row:last-child {
    margin-bottom: 0;
}