/* .makeStyles-root-5{
    z-index: 1000;
    position: absolute;
    background-color: #999999;
    margin-left: 33%;
} */

.bgSearchBar{
    background-color: #eee;
    opacity: 0.8;
    border-radius:20px;
}

#autocomplete-input{
    font-weight: bold;
}

.row:last-child {
    margin-bottom: 0;
}

/* .card-panel{
    opacity: 0.9;
} */

/* #root{
    font-family: 'Hanuman', serif;
} */

.loginFont, h1, h2, h3, h4, h5, h6{
    font-family: 'Faster One';
}
.card-bg{
    position:absolute;
    z-index:100;
    /* width:50%; */
    margin:0 auto;
    /* background-color:black;
    opacity: 0.5; */
    
}